<form action="." method="POST" xmlns:outline="http://www.w3.org/1999/xhtml">
    <p align="center" style="position:relative; left:30px; font-size:30px; color:green">FLASK CALCULATOR</p>
    <body style="background-color:rgb(0, 0, 0);"></body>
    <input style = "position:relative; left:500px; top:0px; background-color:black; border-color: green; color:green; width:550px;
height:60px" type="text" name="text" placeholder="Calculate here">
    <input style = "position:relative; left:150px; top:100px; background-color:black; border-color: green; color:green; width:150px;
height:40px" type="submit" value="Calculate" align="center">
    <p align="center" style="position:relative; left:20px; top:100px; font-size:30px; color:green">NOTE : </p>
    <p align="center" style="position:relative; top:70px; font-size:30px; color:green">Ставьте пробел перед и после знака исполняемой операции</p>
    <p align="center" style="position:relative; left:20px; top:40px; font-size:30px; color:green">Например : </p>
    <p align="center" style="position:relative; left:10px; top:10px; font-size:30px; color:green"> x + y, x - y, x * y, x / y</p>
</form>